header {
  background: url(../img/banner_new.jpg) no-repeat;
  height: 100vh;
  background-position: center;
  background-size: cover;
  position: relative;
  box-shadow: 0 8px 10px rgba(15, 6, 6, 0.3);
}

header .container-fluid {
  width: 100%;
  padding-right: 0;
  padding-left: 0;
  background-color: rgba(10, 14, 11, 0.15);
}

header .overlay {
  background-color: rgba(10, 14, 11, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 0 100px;
  box-shadow: 0 8px 10px rgba(15, 6, 6, 0.3);
}

header .logo_wrapper {
  background: rgba(29, 28, 28, 0.8);
  position: relative;
  z-index: 10;
  width: 320px;
  height: 76px;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

header .logo_wrapper a {
  width: 100%;
  height: 100%;
  position: absolute;
}

header .logo_header {
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  background-position: center;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 99;
}

header img {
  position: absolute;
  margin-left: 300px;
}

header .row {
  width: 100%;
}

header ul {
  display: flex;
  justify-content: flex-end;
  margin: 0;
  z-index: 5;
}

header li {
  list-style: none;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
  min-width: 120px;
  display: flex;
  justify-content: center;
  margin: 0;
}

header li a {
  color: #708496;
  font-size: 1rem;
  margin: 0;
  position: absolute;
  width: 100%;
  transition: font-size 0.2s ease-out;
}

header li select:hover,
header li select:active,
header li select:focus,
header li a:hover,
header li a:active,
header li a:focus {
  color: #ae9c73;
  text-decoration: none;
}

header li:nth-of-type(5) {
  display: flex;
  justify-content: center;
  margin-left: 40px;
  min-width: 120px;
}

header li:not(:last-of-type) {
  margin-right: 30px;
}

header li:hover a {
  font-size: 1.2rem;
}

header a,
header select {
  transition-property: color;
  transition-duration: 500ms;
}

header select {
  background-color: transparent;
  border: 1px solid #708496;
  color: #708496;
  min-width: 120px;
  margin-top: -10px;
  padding: 8px 19px;
  cursor: pointer;
}

header select:focus {
  outline: none;
}

header h3 {
  color: #708496;
  text-transform: uppercase;
  margin-top: 230px;
  margin-bottom: 30px;
  font-size: 0.9rem;
  letter-spacing: 0.5px;
  position: absolute;
  z-index: 6;
  width: 100%;
}

header h1 {
  color: #ae9c73;
  padding-bottom: 170px;
  font-size: 4.5rem;
  position: absolute;
  z-index: 6;
  text-align: center;
  width: 100%;
  margin-top: 40vh;
}

header h1,
header h3 {
  transition-duration: 500ms;
  transition-property: letter-spacing;
}

header h1:hover,
header h3:hover {
  letter-spacing: 1px;
}

header .burger {
  display: none;
  width: 40px;
  height: 40px;
  padding: 9px 5px 5px;
  cursor: pointer;
  outline: none;
  background: transparent;
  position: absolute;
  top: 26px;
  right: 31px;
  z-index: 6;
}

header .burger .burgerline {
  display: block;
  width: 100%;
  height: 3px;
  margin: 0 0 7px;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 1px;
  background-color: #7a7d84;
}

header .arrow_down {
  z-index: 15;
  bottom: 0;
}

#about_us {
  margin-bottom: 70px;
}

#about_us h3 {
  margin-top: 45px;
  padding-top: 55px;
}

#about_us .about_content {
  padding-top: 40px;
  padding-bottom: 60px;
}

#about_us .about {
  background-color: #f8f9fa;
  width: 700px;
  margin-left: 20px;
  padding: 47px 30px;
  text-align: justify;
  position: relative;
  line-height: 1.8;
  border-radius: 2%;
  box-shadow: 5px 5px 10px rgba(175, 172, 172, 0.2), -2px -2px 10px rgba(211, 201, 201, 0.2);
}

#about_us .about div {
  margin-bottom: 30px;
}

#about_us .button_about {
  position: absolute;
  right: 20px;
  bottom: 5px;
}

#about_us .wrap_about {
  z-index: 25;
  height: 100vh;
}

#about_us .modal_about {
  width: 90vw;
  margin: 20px calc(50% - 45vw);
  overflow-y: scroll;
  overflow-x: hidden;
  animation: fly-in 600ms ease-in;
}

#about_us .logo_about {
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  position: absolute;
  width: 190px;
  height: 358px;
  margin-top: 10px;
  margin-left: 35px;
  border-radius: 10px 20px;
  z-index: 15;
}

#about_us .about_banner {
  width: 100%;
  height: fit-content;
}

#about_us .about_banner img {
  width: 100%;
}

#about_us h2 {
  margin: 70px 0 0 50px;
}

#about_us .text_about {
  padding: 40px 50px;
}

#about_us .about_banner {
  width: 100%;
}

#about_us .about_content {
  display: flex;
  justify-content: center;
  margin: auto;
}

#about_us .slider {
  width: 600px;
  height: 350px;
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  border: 4px solid rgba(164, 170, 136, 0.473);
  border-radius: 3px;
  box-shadow: 10px 10px 20px rgba(110, 107, 107, 0.3), -2px -2px 10px rgba(211, 201, 201, 0.3);
}

#about_us .slider .img {
  width: 100%;
  height: 100%;
  position: absolute;
  transition: all ease 1s;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}

#about_us .fade_slide {
  -webkit-animation-name: fade;
  animation-name: fade;
  -webkit-animation-duration: 3s;
  animation-duration: 3s;
}

@keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }

  to {
    opacity: 1;
  }
}

#about_us .arrow_down {
  margin: 40px calc(50% - 25px);
}

#about_us .position {
  position: relative;
}

#our_services {
  position: relative;
  margin-bottom: 100px;
  z-index: 20;
}

#our_services h3 {
  margin-top: 140px;
  padding-top: 25px;
}

#our_services .services {
  margin-bottom: 60px;
  margin-top: 35px;
  padding: 0 100px;
}

#our_services .services button {
  margin-bottom: 30px;
  margin-top: 15px;
}

#our_services .service {
  background-color: #f8f9fa;
  text-align: center;
  border-radius: 2%;
  padding: 14px 30px;
  box-shadow: 5px 5px 10px rgba(175, 172, 172, 0.3);
}

#our_services .icon {
  margin: 20px auto;
  background-color: #e8eae1;
  color: #a4aa88;
  text-align: center;
  font-size: 1.6rem;
  border-radius: 50%;
  width: 66px;
  height: 66px;
  box-shadow: 0 2px 10px rgba(206, 197, 197, 0.3);
  cursor: pointer;
}

#our_services .icon img {
  width: 65%;
  padding-top: 12px;
  padding-left: 2px;
}

#our_services .icon i {
  padding-top: 18px;
}

#our_services .book {
  margin-top: 7px;
}

#our_services .add_padding {
  padding-top: 11px;
  padding-bottom: 11px;
}

#our_services h5 {
  color: #343a40;
  font-size: 1.1rem;
}

#our_services .modal_window {
  width: 600px;
  height: 80vh;
  margin-top: 65px;
  margin: 65px calc(50% - 300px) 0;
  animation: fly-in 600ms ease-in;
  overflow: hidden;
  border: none;
}

#our_services .logo_services {
  background: url(../img/logo.png) no-repeat;
  background-size: contain;
  position: absolute;
  width: 100px;
  height: 358px;
  margin-top: 10px;
  margin-left: 30px;
  border-radius: 10px 20px;
  z-index: 15;
}

#our_services h4 {
  text-align: center;
  padding-top: 60px;
}

#our_services .description {
  padding: 22px;
  text-align: justify;
  padding: 20px 40px;
  margin-bottom: 30px;
}

#our_services .consulting_adaptive h4,
#our_services .contractors_adaptive h4,
#our_services .modal_martime_adaptive h4 {
  margin-top: 25px;
  margin-bottom: 25px;
}

#our_services .picture {
  overflow: hidden;
  bottom: 0;
  left: 0;
  right: 0;
  position: relative;
}

#our_services .picture img {
  width: 100%;
}

#how_work {
  z-index: -1;
}

#how_work h3 {
  margin-top: 0px;
}

#how_work .steps {
  margin-bottom: 100px;
  margin-top: 40px;
  display: flex;
  justify-content: center;
}

#how_work .step {
  min-width: 300px;
  background-color: #f8f9fa;
  margin: 0 20px;
  text-align: center;
  border-radius: 4px;
  padding-top: 30px;
  position: relative;
  box-shadow: 5px 5px 10px rgba(175, 172, 172, 0.3);
}

#how_work .step_number {
  background-color: #fff;
  color: black;
  height: 25px;
  width: 25px;
  border-radius: 50%;
  position: absolute;
  margin-left: 159px;
  margin-top: -8px;
  box-shadow: 5px 5px 10px rgba(175, 172, 172, 0.3);
}

#how_work .icon2 {
  background-color: #a2a886;
  color: #212529;
  font-size: 1.5rem;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  margin: 0px auto 20px;
  box-shadow: 0 5px 10px rgba(46, 15, 15, 0.5);
}

#how_work .icon2 img {
  padding-top: 20px;
}

#how_work h5 {
  padding-bottom: 25px;
}

#how_work a {
  cursor: pointer;
  position: relative;
  width: 100%;
  display: block;
  z-index: 5;
}

#how_work .arrow_down {
  margin: -70px calc(50% - 25px);
}

#achieved {
  background: url(../img/achieved.jpg) no-repeat;
  z-index: -1;
  box-shadow: 0 8px 10px rgba(15, 6, 6, 0.5), 0 -8px 10px rgba(15, 6, 6, 0.5);
  padding: 4.3em 0 2em 0;
}

#achieved .wrapper {
  margin: 0 auto;
  width: 85%;
  display: flex;
  justify-content: space-around;
}

#achieved .number {
  color: #a4aa88;
  font-size: 2rem;
  padding-bottom: 5px;
  margin-top: -8px;
  transition: font-size 0.2s ease-out;
}

#achieved i,
#achieved .text {
  color: #fffff8;
}

#achieved i {
  font-size: 1.8rem;
  float: left;
  padding-right: 18px;
  transition: transform 0.2s ease-out;
}

#achieved .text {
  text-transform: uppercase;
  padding-bottom: 70px;
  padding-left: 48px;
  font-size: 0.8rem;
  transition: font-size 0.2s ease-out;
}

#achieved .countries:hover > i,
#achieved .missions:hover > i,
#achieved .saved:hover > i,
#achieved .members:hover > i {
  transform: scale(1.3);
}

#achieved .fa-plus {
  font-size: 1rem;
  padding: 3px;
}

#achieved .members:hover > .fa-plus {
  margin-right: 8px;
}

#achieved .arrow_down {
  margin: -70px calc(50% - 25px);
}

#achieved .fa-chevron-down {
  font-size: 2.6rem;
  color: #5a5641;
  padding-bottom: 50px;
}

#achieved .saved_fext {
  padding-left: 53px;
}

#achieved .members_text {
  padding-left: 79px;
}

#achieved .saved_lives,
#achieved .members_count {
  animation: blink 1000ms alternate infinite;
}

@keyframes blink {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

#partners {
  padding-bottom: 30px;
}

#partners h3 {
  padding-top: 100px;
}

#partners .partner_logo {
  background-color: #f8f9fa;
  text-align: center;
  padding: 10px;
  width: 30vw;
  margin: 40px auto 100px;
  box-shadow: 5px 5px 10px rgba(175, 172, 172, 0.3);
}

#partners img[alt="partnership"] {
  width: 36vh;
}

footer {
  background-color: #383838;
  color: #777777;
  position: relative;
  box-shadow: 0 -8px 10px rgba(15, 6, 6, 0.3);
}

footer .footer_contacts_wrapper {
  display: flex;
  padding: 50px 100px;
}

footer .logo_footer {
  background: url("../img/logo_footer.jpg") no-repeat;
  background-size: cover;
  border-radius: 50%;
  width: 80px;
  height: 80px;
  margin-top: 15px;
  box-shadow: 0 5px 10px rgba(31, 23, 23, 0.5);
  align-self: center;
  margin-right: 40px;
}

footer .key_words_wrapper,
footer .company_contacts_wrapper {
  display: flex;
  flex-direction: column;
}

footer .footer_title {
  color: #ffffff;
  font-family: "Rubik", sans-serif;
  margin-bottom: 10px;
}

footer .mission {
  max-width: 250px;
  font-size: 0.85rem;
  margin-right: 150px;
}

footer .addres_wrapper,
footer .email_wrapper {
  display: flex;
  align-items: center;
  margin-left: 0;
}

footer .fa-map-marker-alt,
footer .fa-envelope {
  color: #ffffff;
  margin-right: 15px;
  transition: transform 0.2s ease-out;
}

footer .addres_wrapper {
  margin-bottom: 10px;
}

footer .email a {
  text-decoration: none;
  color: inherit;
}

footer .row:hover > .fa-map-marker-alt,
footer .row:hover > .fa-envelope {
  transform: scale(1.3);
}

footer .fa-envelope {
  margin-left: -2px;
}

footer .socials_wrapper {
  margin-top: 30px;
  margin-left: 0;
}

footer .social {
  border-radius: 50%;
  border: 2px solid #777777;
  width: 40px;
  height: 40px;
  margin-right: 25px;
  margin-bottom: 10px;
  position: relative;
  cursor: pointer;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s all;
}

footer .social i {
  color: #777777;
}

footer .social a {
  position: absolute;
  width: 100%;
  height: 100%;
}

footer .fa-facebook-f {
  padding-left: 2px;
}

footer .fa-youtube {
  margin-left: -3px;
}

footer .social:hover {
  background: #777777;
}

footer .social:hover i {
  color: #383838;
}

footer .copyrightInfo {
  width: 100vw;
  background-color: #303030;
  display: flex;
  justify-content: space-between;
}

footer .copyright {
  text-transform: uppercase;
  font-size: 0.8rem;
  padding: 5px 33px;
}

footer .made {
  font-size: 0.8rem;
  padding-top: 5px;
  padding-left: 25px;
}

/* Portrait */

/* Portrait IPod Pro */

/* Portrait */

/* Portrait */

/* Portrait */

/* Portrait IPod Pro */

/* Portrait */

html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  scroll-behavior: smooth;
}

body {
  font-family: "Lato", sans-serif;
  box-sizing: border-box;
  overflow-x: hidden;
  font-size: 16px;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

body ::-webkit-scrollbar {
  display: none;
}

h1,
h3,
h5 {
  text-align: center;
  font-family: "Rubik", sans-serif;
}

img[alt="line"] {
  margin: 10px auto 10px;
}

h3 {
  font-size: 2.1rem;
}

.wolf {
  font-weight: bold;
}

button {
  color: #a4aa92;
  background-color: #f6f6f6;
  border: none;
  width: 140px;
  padding: 5px 20px;
  margin-bottom: 20px;
  font-size: 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 10px rgba(206, 197, 197, 0.3);
  transition-property: all;
  transition-duration: 0.5s;
}

button:hover {
  background-color: #a4aa92;
  color: #f6f6f6;
}

button:focus {
  outline: none;
}

.back {
  width: 110px;
  margin-bottom: 0;
  margin-left: 10px;
  cursor: pointer;
  display: none;
}

:focus {
  outline: 0;
}

.fa-times {
  position: absolute;
  right: 20px;
  top: 15px;
  color: #ffffff;
  font-size: 2rem;
  cursor: pointer;
}

.modal_window {
  height: 90vh;
  border: 1px solid #c0c0c0;
  border-radius: 4px;
  margin: 30px calc(50% - 20vw);
  box-shadow: 0 0 10px #000;
  position: relative;
  background-color: #ffffff;
  font-family: "Rubik", sans-serif;
  transition: 0.5s all;
}

.modal-wrap {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(36, 36, 37, 0.9);
  position: fixed;
  z-index: 50;
}

.hidden {
  display: none;
}

#totop {
  width: 36px;
  height: 36px;
  position: fixed;
  right: 40px;
  bottom: 33px;
  z-index: 20;
  display: block;
  cursor: pointer;
}

#totop:focus,
#totop:hover,
#totop:focus,
#totop:hover {
  outline: none;
}

.fa-arrow-circle-up {
  font-size: 2.3rem;
  color: #5a5641;
  border-radius: 50%;
  transition: transform 0.2s ease-out;
}

.fa-arrow-circle-up:focus {
  outline: none;
}

.fa-arrow-circle-up:hover {
  transform: scale(1.3);
}

.fa-chevron-down {
  font-size: 2.6rem;
  color: #5a5641;
  padding-bottom: 50px;
}

.arrow_down {
  width: 50px;
  text-align: center;
  margin: 0 calc(50% - 25px);
  position: absolute;
  animation-name: animateArrow;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  transition: transform 0.2s ease-out;
}

.arrow_down:hover {
  transform: scale(1.3);
}

@keyframes animateArrow {
  0% {
    transform: translateY(0px);
  }

  50% {
    transform: translateY(25px);
  }

  100% {
    transform: translateY(0px);
  }
}

.modal-wrap {
  perspective: 500px;
}

@keyframes fly-in {
  0% {
    transform: translateZ(-800px) rotateX(-90deg);
    opacity: 0;
  }

  56% {
    transform: translateZ(-160px) rotateX(-87deg);
    opacity: 1;
  }

  100% {
    transform: translateZ(0) rotateX(0);
  }
}

@media only screen and (min-width: 1024px) and (max-height: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {
  header {
    height: 50vh;
  }

  header h1 {
    margin-top: 20vh;
  }

  header h3 {
    margin-top: 15vh !important;
  }

  #how_work .row {
    margin-left: 0 !important;
    margin-right: 0;
  }
}

@media (min-width: 1330px) {
  #our_services .consulting_adaptive h4,
  #our_services .contractors_adaptive h4,
  #our_services .modal_martime_adaptive h4 {
    margin-top: 0;
  }
}

@media (max-width: 1400px) {
  #about_us .about {
    width: 685px;
  }
}

@media (max-width: 1370px) {
  #about_us .about {
    width: 676px;
  }
}

@media (max-width: 1360px) {
  #about_us .about {
    width: 660px;
  }
}

@media (max-width: 1340px) {
  #about_us .about {
    width: 640px;
  }
}

@media (max-width: 1329px) {
  #our_services .modal_martime_adaptive h4 {
    margin-top: 11px;
    margin-bottom: 18px;
  }
}

@media (max-width: 1315px) {
  #about_us .about {
    width: 625px;
  }
}

@media (max-width: 1300px) {
  #about_us .about {
    width: 620px;
  }
}

@media (max-width: 1290px) {
  #about_us .about {
    width: 610px;
  }
}

@media (max-width: 1270px) {
  #about_us .about {
    width: 600px;
    padding: 34px 30px;
  }

  #about_us .modal_about {
    width: 88vw;
    margin: 20px calc(50% - 44vw);
  }

  #about_us h2 {
    margin: 70px 0 0 50px;
  }
}

@media (max-width: 1260px) {
  #about_us {
    overflow-x: hidden;
  }

  #about_us h3 {
    margin-top: 0px;
  }

  #our_services .services {
    padding: 0px 70px;
  }
}

@media (max-width: 1250px) {
  #about_us .about {
    width: 580px;
    line-height: 1.5;
    padding: 37px 30px;
  }
}

@media (max-width: 1240px) {
  #how_work .steps {
    display: flex;
    justify-content: center;
  }

  #how_work .step {
    margin: 0;
  }
}

@media (max-width: 1237px) {
  #home li:nth-of-type(5) {
    margin-left: 0px;
  }
}

@media (max-width: 1215px) {
  #about_us .slider {
    margin-left: -34px;
  }

  #about_us .about {
    width: 526px;
  }
}

@media (max-width: 1200px) {
  #our_services .modal_martime_adaptive h4,
  #our_services .contractors_adaptive h4,
  #our_services .consulting_adaptive h4 {
    margin-top: 15px;
  }

  #our_services .services {
    padding: 0px 50px;
  }
}

@media (max-width: 1195px) {
  #home ul {
    justify-content: space-between;
  }

  #home li:not(:last-of-type) {
    margin-right: 0px;
  }

  #home .logo_wrapper {
    width: 300px;
  }
}

@media (max-width: 1190px) {
  #how_work .steps {
    margin-bottom: 80px;
    margin-left: -31px;
  }

  #how_work .step {
    justify-content: space-between;
  }

  #how_work .step-wrapper {
    margin: 0 10px;
  }
}

@media (max-width: 1170px) {
  #about_us .about {
    margin: 0px;
  }

  #about_us .slider {
    margin-left: -44px;
  }
}

@media (max-width: 1145px) {
  #about_us .about {
    width: 490px;
  }

  #about_us .slider {
    margin-left: -59px;
  }
}

@media (max-width: 1110px) {
  #how_work .steps {
    margin-left: -61px;
  }

  #how_work .step-wrapper {
    margin: 0 30px;
  }
}

@media (max-width: 1100px) {
  #about_us .about {
    width: 480px;
    line-height: 1.4;
  }
}

@media (max-width: 1090px) {
  #about_us .slider {
    width: 564px;
    margin-left: -46px;
  }
}

@media (max-width: 1075px) {
  #home nav {
    padding: 0 50px;
  }

  #home ul {
    padding-right: 0px;
  }
}

@media (max-width: 1070px) {
  #about_us .slider {
    width: 550px;
    margin-left: -40px;
  }

  #our_services .services {
    padding: 0px 10px;
  }
}

@media (max-width: 1050px) {
  #about_us .about {
    width: 470px;
    padding: 17px 30px;
    line-height: 1.5;
  }

  #about_us .slider {
    width: 537px;
  }
}

@media (max-width: 1040px) {
  #home h1 {
    font-size: 3.4rem;
  }
}

@media (max-width: 1030px) {
  #about_us .fa-times {
    right: 16px;
    z-index: 5;
  }

  #about_us .about {
    width: 460px;
  }
}

@media (max-width: 1015px) {
  #about_us .about {
    width: 450px;
  }

  #about_us .about div {
    margin-bottom: 26px;
  }

  #about_us .slider {
    margin-left: -49px;
  }
}

@media (max-width: 1010px) {
  #about_us .about {
    width: 442px;
  }
}

@media (max-width: 1005px) {
  #home h1 {
    font-size: 3.3rem;
  }
}

@media (max-width: 995px) {
  #home h1 {
    font-size: 3.2rem;
  }

  #how_work .step h5 {
    font-size: 1.2rem;
  }
}

@media (max-width: 991px) {
  #our_services .services {
    padding: 0 40px;
    margin-bottom: 34px;
  }

  #our_services .service {
    margin-bottom: 25px;
  }

  #our_services .service_wrap:nth-child(1) {
    margin-left: 149px;
  }

  #our_services .service_wrap:nth-child(3) {
    margin-left: 149px;
  }

  #achieved .empty {
    display: none;
  }
}

@media (max-width: 990px) {
  #about_us .about {
    width: 438px;
  }

  #how_work h3 {
    padding-top: 40px;
  }

  #how_work .step {
    justify-content: space-around;
    min-width: 200px;
  }

  #how_work .arrow_down {
    display: none;
  }

  #how_work .step_number {
    margin-left: 114px;
  }

  #achieved .arrow_down {
    display: none;
  }
}

@media (max-width: 980px) {
  #about_us h3 {
    padding-top: 50px;
  }

  #about_us .button_about {
    z-index: 1;
  }

  #about_us .about_wraper {
    padding: 0;
  }

  #about_us .about_content {
    padding-top: 10px;
  }

  #about_us .about {
    width: 100vw;
    padding: 35px 30px;
  }

  #about_us .about div {
    margin-bottom: 16px;
  }

  #about_us .slider {
    margin-top: 257px;
    margin-left: -293px;
    width: 569px;
  }

  #about_us .arrow_down {
    display: none;
  }

  #our_services h3 {
    margin-top: 0;
  }

  footer .mission {
    margin-right: 100px;
  }
}

@media (max-width: 975px) {
  #home li {
    min-width: 114px;
  }
}

@media (max-width: 970px) {
  #how_work .steps {
    margin-left: -81px;
  }
}

@media (max-width: 930px) {
  #our_services .service_wrap:nth-child(1) {
    margin-left: 119px;
  }

  #our_services .service_wrap:nth-child(2) {
    margin-left: 15px;
  }

  #our_services .service_wrap:nth-child(3) {
    margin-left: 119px;
  }

  #our_services .service_wrap:nth-child(4) {
    margin-left: 15px;
  }

  #our_services .service {
    width: 250px;
  }
}

@media (max-width: 920px) {
  #partners .partner_logo {
    width: 35vw;
  }

  footer .mission {
    margin-right: 0;
  }

  footer .footer_contacts_wrapper {
    flex-direction: column;
    align-items: center;
  }

  footer .logo_footer {
    margin-right: 0;
    margin-bottom: 30px;
  }

  footer .key_words_wrapper {
    margin-bottom: 30px;
  }
}

@media (max-width: 910px) {
  header {
    background-position-y: top;
  }

  #home nav {
    padding: 0 30px;
  }

  #home .logo_wrapper {
    width: 200px;
    height: 66px;
  }

  #home .logo_header {
    width: 70%;
    margin-left: 26px;
  }

  #home .burger {
    display: block;
  }

  #home .burger.opened .burgerline.burgerline-01 {
    -webkit-transform: rotate(135deg);
    -ms-transform: rotate(135deg);
    transform: rotate(135deg);
    margin: 9px 0 0 0;
  }

  #home .burger.opened .burgerline.burgerline-02 {
    opacity: 0;
  }

  #home .burger.opened .burgerline.burgerline-03 {
    -webkit-transform: rotate(-135deg);
    -ms-transform: rotate(-135deg);
    transform: rotate(-135deg);
    margin: -13px 0 0;
  }

  #home nav.opened {
    height: 100vh;
    flex-direction: column;
    align-items: center;
    background-color: rgba(36, 36, 37, 0.8);
  }

  #home nav.opened .logo_wrapper {
    margin-top: 30px;
  }

  #home nav.opened ul {
    display: flex;
    transition: transform 0.4s ease-in;
  }

  #home nav.opened ul li {
    margin-bottom: 30px;
    min-width: 100%;
  }

  #home nav.opened ul li a {
    display: inline-block;
    width: 100%;
  }

  #home ul {
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    right: 0;
    padding: 0;
    display: none;
  }

  #home select {
    position: inherit;
    margin-bottom: 25px;
  }

  #home li {
    text-align: center;
  }

  #home li a {
    position: static;
  }

  #home h1 {
    font-size: 3.1rem;
    position: relative;
    margin-top: 50px;
  }

  #home h3 {
    margin-top: 190px;
    font-size: 1.3rem;
    position: relative;
  }
}

@media (max-width: 890px) {
  #about_us .fa-times {
    right: 14px;
  }

  #about_us .slider {
    margin-top: 277px;
  }
}

@media (max-width: 850px) {
  #about_us .fa-times {
    right: 12px;
  }

  #our_services .service_wrap:nth-child(1) {
    margin-left: 100px;
  }

  #our_services .service_wrap:nth-child(3) {
    margin-left: 100px;
  }
}

@media (max-width: 830px) {
  #home h3 {
    margin-top: 200px;
  }

  #home .burger {
    z-index: 55;
  }

  #how_work .step {
    min-width: 190px;
  }
}

@media (max-width: 820px) {
  #our_services .contractors_adaptive h4,
  #our_services .consulting_adaptive h4 {
    margin-top: 40px;
  }

  #our_services .service_wrap:nth-child(1) {
    margin-left: 90px;
  }

  #our_services .service_wrap:nth-child(2) {
    margin-left: 30px;
  }

  #our_services .service_wrap:nth-child(3) {
    margin-left: 90px;
  }

  #our_services .service_wrap:nth-child(4) {
    margin-left: 30px;
  }
}

@media (max-width: 800px) {
  #partners .partner_logo {
    width: 40vw;
  }
}

@media (max-width: 795px) {
  #about_us .slider {
    margin-top: 275px;
  }
}

@media (max-width: 790px) {
  #our_services .service_wrap:nth-child(1) {
    margin-left: 75px;
  }

  #our_services .service_wrap:nth-child(2) {
    margin-left: 40px;
  }

  #our_services .service_wrap:nth-child(3) {
    margin-left: 75px;
  }

  #our_services .service_wrap:nth-child(4) {
    margin-left: 40px;
  }
}

@media (max-width: 780px) {
  #about_us .fa-times {
    right: 10px;
    font-size: 1.9rem;
  }
}

@media (max-width: 770px) {
  #about_us h3 {
    margin-top: -10px;
  }

  #how_work .step-wrapper {
    margin: 15px;
    width: 200px;
  }

  #how_work .steps {
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 20px;
  }
}

@media (max-width: 768px) {
  .overlay {
    opacity: 0.4;
    z-index: 5;
  }

  header {
    background: url(../img/banner_mobile.jpg) no-repeat;
    background-position: center;
    background-size: cover;
    overflow: hidden;
  }

  #home nav.opened ul li {
    margin-bottom: 70px;
  }

  #home h1 {
    margin-top: 5vh;
  }

  #home h3 {
    margin-top: 35vh;
  }
}

@media (max-width: 767px) {
  #about_us .slider {
    margin: 20px auto;
  }

  #our_services .service_wrap:nth-child(1),
  #our_services .service_wrap:nth-child(2),
  #our_services .service_wrap:nth-child(3),
  #our_services .service_wrap:nth-child(4) {
    margin-left: 0;
  }

  #our_services .service {
    width: 100%;
  }

  #our_services .services {
    margin-top: 20px;
  }

  #achieved {
    padding: 1.5em 0;
  }

  #achieved .row {
    margin-left: 135px;
  }

  #achieved .members,
  #achieved .saved {
    margin-top: 15px;
  }

  #achieved .text {
    padding-bottom: 30px;
  }
}

@media (max-width: 751px) {
  #our_services .row.services > div:nth-child(3) > div > h5 {
    margin-bottom: 31px;
  }
}

@media (max-width: 750px) {
  #about_us .fa-times {
    right: 8px;
  }
}

@media (max-width: 730px) {
  #achieved .row {
    margin-left: 129px;
  }
}

@media (max-width: 715px) {
  #about_us .modal_about {
    width: 86vw;
    margin: 20px calc(50% - 43vw);
  }

  #about_us .fa-times {
    right: 10px;
  }
}

@media (max-width: 705px) {
  #our_services .row.services > div:nth-child(3) > div > h5 {
    margin-bottom: 9px;
  }
}

@media (max-width: 700px) {
  #home h1 {
    font-size: 2.9rem;
  }

  #partners .partner_logo {
    width: 45vw;
  }
}

@media (max-width: 690px) {
  #our_services .modal_window {
    font-size: 0.95rem;
  }

  #our_services .modal_martime_adaptive h4 {
    margin-top: 40px;
  }

  #how_work .step-wrapper {
    margin: 8px;
  }
}

@media (max-width: 655px) {
  #achieved .row {
    margin-left: 105px;
  }
}

@media (max-width: 640px) {
  #about_us .button_about {
    bottom: -6px;
  }

  #about_us .about div {
    margin-bottom: 27px;
  }

  #about_us .col-md-6.col-lg-6.slider_wrapper {
    padding-left: 0;
  }

  #about_us .logo_about {
    width: 130px;
  }

  #about_us .fa-times {
    right: 8px;
  }

  #about_us .slider {
    width: 100vw;
  }
}

@media (max-width: 610px) {
  #home h1 {
    font-size: 2.8rem;
  }

  #achieved .row {
    margin-left: 90px;
  }
}

@media (max-width: 600px) {
  #about_us .text_about {
    padding: 40px 35px;
  }

  #partners .partner_logo {
    width: 50vw;
  }
}

@media (max-width: 595px) {
  #about_us .fa-times {
    right: 6px;
    font-size: 1.8rem;
  }
}

@media (max-width: 590px) {
  #our_services .close_protection_adaptive .description {
    padding: 23px 10px;
  }

  #achieved .row {
    margin-left: 73px;
  }
}

@media (max-width: 580px) {
  #achieved .row {
    margin-left: 60px;
  }
}

@media (max-width: 576px) {
  #partners h3 {
    margin-top: 50px;
  }
}

@media (max-width: 575px) {
  #our_services .services {
    padding: 0 0;
  }

  #our_services .service_wrap {
    padding: 0;
  }

  #our_services .service {
    box-shadow: 5px 5px 10px rgba(175, 172, 172, 0.3), -2px -2px 10px rgba(211, 201, 201, 0.3);
  }

  #how_work .icon2 {
    width: 70px;
    height: 70px;
  }

  #how_work .icon2 img {
    padding-top: 17px;
  }

  #achieved {
    background: url(../img/achieved_mobile.jpg) no-repeat;
    background-size: cover;
    height: 100%;
  }

  #achieved .row {
    margin: auto;
    padding-top: 80px;
    padding-bottom: 25px;
  }

  #achieved .countries,
  #achieved .missions,
  #achieved .saved,
  #achieved .members {
    margin: 10px auto;
    max-width: 50vw;
    padding: 0 70px;
  }

  #achieved .text {
    padding-bottom: 70px;
  }

  #partners .partner_logo {
    width: 100vw;
  }

  #partners {
    padding-left: 0;
  }

  #partners .partner_logo {
    margin-top: 20px;
    box-shadow: 5px 5px 10px rgba(175, 172, 172, 0.2), -2px -2px 10px rgba(211, 201, 201, 0.2);
  }
}

@media (max-width: 570px) {
  #our_services .add_padding {
    padding-top: 0px;
    padding-bottom: 0px;
  }
}

@media (max-width: 560px) {
  #home h1 {
    font-size: 2.7rem;
  }
}

@media (max-width: 550px) {
  #achieved .members,
  #achieved .saved {
    padding: 0 55px;
  }
}

@media (max-width: 540px) {
  #about_us .fa-times {
    right: 6px;
    font-size: 1.7rem;
  }
}

@media (max-width: 515px) {
  #about_us .fa-times {
    right: 6px;
    font-size: 1.6rem;
  }
}

@media (max-width: 510px) {
  #our_services .modal_martime_adaptive h4,
  #our_services .contractors_adaptive h4 {
    margin-top: 50px;
  }
}

@media (max-width: 490px) {
  #achieved .members,
  #achieved .saved {
    padding: 0 45px;
  }

  #achieved .countries,
  #achieved .missions {
    padding: 0 49px;
  }

  #achieved .saved_fext {
    padding-left: 50px;
  }
}

@media (max-width: 470px) {
  #achieved .members,
  #achieved .saved {
    padding: 0 45px;
  }
}

@media (max-width: 450px) {
  #achieved .members,
  #achieved .saved {
    padding: 0 35px;
  }
}

@media (max-width: 414px) {
  .overlay {
    display: none;
  }

  header {
    overflow: visible;
    margin-top: 55px;
    height: 60vh;
    background: url(../img/banner_mobile.jpg) no-repeat;
    background-position: center;
    background-size: cover;
  }

  header .container-fluid {
    background-color: rgba(10, 14, 11, 0);
  }

  #home nav {
    box-shadow: 0 8px 10px rgba(15, 6, 6, 0);
  }

  #home ul,
  #home .logo_header,
  #home .burger {
    z-index: 1;
  }

  #home .logo_wrapper {
    background-color: transparent;
    width: 223px;
    height: 220px;
    margin-top: -150px;
    margin-left: -30px;
  }

  #home .burger {
    top: -45px;
  }

  #home ul {
    height: 60vh;
  }

  #home h3,
  #home h1 {
    position: relative;
  }

  #home h1 {
    font-size: 2.1rem;
  }

  #home h3 {
    margin-top: 70px;
  }

  #home .fa-chevron-down {
    font-size: 2.6rem;
    color: #5a5641;
    padding-bottom: 35px;
  }

  #home nav.opened {
    height: 60vh;
    flex-direction: column;
    align-items: center;
    background-color: rgba(36, 36, 37, 0.8);
  }

  #home nav.opened .logo_wrapper {
    margin-top: -124px;
    margin-left: -191px;
  }

  #home nav.opened ul li {
    margin-bottom: 0px;
    margin: 0 auto 35px;
  }

  #about_us {
    margin-bottom: 40px;
  }

  #about_us h3 {
    margin-top: 10px;
  }

  #about_us .about {
    padding: 20px 50px 40px;
    background-color: transparent;
    box-shadow: none;
  }

  #about_us .slider_wrapper {
    margin-top: 20px;
  }

  #about_us .modal-wrap {
    z-index: 1000;
  }

  #about_us .wrap_about {
    height: 100%;
  }

  #about_us .modal_about {
    width: 100%;
    height: 100vh;
    margin: 0;
    padding: 0;
  }

  #about_us h2 {
    margin: 50px 0 30px 30px;
  }

  #about_us .text_about {
    width: 100vw;
    margin-bottom: 0 !important;
    padding: 0 30px;
  }

  #about_us .step_number {
    margin-left: 198px;
  }

  #about_us .about_content {
    padding-bottom: 14px;
  }

  #our_services {
    overflow: hidden;
    margin-bottom: 50px;
  }

  #our_services h3 {
    padding-top: 30px;
  }

  #our_services .icon {
    margin: 0px auto;
  }

  #our_services button {
    margin-top: -6px;
  }

  #our_services h5 {
    margin-top: 20px;
    font-size: 1.2em;
    margin: 20px 60px 20px;
  }

  #our_services h4 {
    text-align: center;
    padding-top: 15px;
  }

  #our_services .service {
    box-shadow: none;
    background-color: transparent;
  }

  #our_services .services {
    margin-bottom: -8px;
    margin-top: 40px;
  }

  #our_services .modal-wrap {
    z-index: 1500;
  }

  #our_services .modal_window {
    width: 100%;
    height: 100vh;
    margin: 0;
    font-size: 1.2rem;
  }

  #our_services .modal_window .description {
    padding: 30px 40px;
    font-size: 0.87em;
  }

  #our_services .logo_services {
    margin-top: 40px;
  }

  #our_services .back {
    margin-top: 40px;
  }

  #our_services .modal_martime_adaptive h4,
  #our_services .contractors_adaptive h4,
  #our_services .consulting_adaptive h4 {
    margin-top: 45px;
  }

  #our_services .modal_martime_adaptive .description,
  #our_services .contractors_adaptive .description,
  #our_services .consulting_adaptive .description {
    line-height: 2.1rem;
  }

  #how_work {
    overflow-x: hidden;
    padding-bottom: 20px;
  }

  #how_work h3 {
    padding-top: 20px;
  }

  #how_work .step_number {
    margin-left: 213px;
  }

  #how_work .step-wrapper {
    width: 100vw;
    padding: 0;
    margin: 8px 0;
  }

  #how_work .step {
    width: 100vw;
    padding-top: 20px;
    box-shadow: none;
    background-color: transparent;
  }

  #how_work .icon2 {
    margin: 0px auto 18px;
  }

  #how_work .icon2 img {
    padding-top: 22px;
    width: 40%;
  }

  #how_work h5 {
    padding-bottom: 18px;
  }

  #achieved {
    width: 100vw;
  }

  #achieved .members {
    margin-left: 49px;
  }

  #partners {
    overflow-x: hidden;
    padding: 20px 0;
  }

  #partners h3 {
    margin-top: 6px;
    padding-top: 60px;
  }

  #partners .partner_logo {
    box-shadow: none;
    background-color: transparent;
    margin: 40px auto 60px;
  }

  footer {
    overflow-x: hidden;
  }

  footer .footer_contacts_wrapper {
    padding: 50px 30px;
  }

  footer .copyrightInfo {
    display: flex;
    justify-content: center;
  }

  footer .made {
    display: flex;
    align-items: center;
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 5px;
  }

  footer .made i {
    padding: 0 7px;
    font-size: 1.3em;
  }

  footer .copyright {
    margin-bottom: 20px;
  }

  .row {
    margin-right: 0;
  }

  .back {
    display: block;
    margin: 20px 0 20px 280px;
  }

  h3 {
    font-size: 1.9rem;
  }
}

@media (max-width: 375px) {
  header {
    margin-top: 50;
  }

  #home h1 {
    font-size: 1.9rem;
  }

  #home .home {
    margin-top: -30px;
  }

  #home nav.opened .logo_wrapper {
    margin-top: -123px;
    margin-left: -152px;
  }

  #home nav.opened ul li {
    margin: 0 auto 30px;
  }

  header .burger {
    padding: 9px 2px 5px;
  }

  #about_us .logo_about {
    width: 100px;
  }

  #our_services .modal_martime_adaptive .description,
  #our_services .contractors_adaptive .description,
  #our_services .consulting_adaptive .description {
    line-height: 1.5rem;
  }

  #our_services .contractors_adaptive h4,
  #our_services .consulting_adaptive h4 {
    margin-top: 35px;
    margin-bottom: 10px;
  }

  #our_services .modal_martime_adaptive h4 {
    margin-top: 50px;
  }

  #our_services .close_protection_adaptive {
    font-size: 1.1rem;
  }

  #our_services .close_protection_adaptive h4 {
    padding-top: 15px;
    padding-bottom: 20px;
  }

  #our_services h4 {
    margin: 0 50px;
  }

  #how_work .step_number {
    margin-left: 198px;
  }

  #achieved .members,
  #achieved .saved {
    padding: 0 26px;
  }

  #achieved .countries,
  #achieved .missions {
    padding: 0 35px;
  }

  .back {
    margin: 20px 0 20px 245px;
  }
}

@media (max-width: 360px) {
  header {
    margin-top: 52px;
  }

  #home nav.opened .logo_wrapper {
    margin-top: -123px;
    margin-left: -140px;
  }

  #home nav.opened ul li:first-of-type {
    margin-top: -50px;
  }

  #home h1 {
    font-size: 1.7rem;
  }

  #home h3 {
    font-size: 1.1rem;
  }

  #our_services .logo_services {
    margin-top: 20px;
  }

  #our_services .back {
    margin-top: 20px;
  }

  #our_services .modal_window .description {
    padding: 10px 40px;
  }

  #our_services .modal_martime_adaptive h4 {
    margin-top: 65px;
    margin-bottom: 40px;
  }

  #our_services .consulting_adaptive h4 {
    margin-bottom: 40px;
  }

  #our_services .modal_martime_adaptive .description,
  #our_services .contractors_adaptive .description,
  #our_services .consulting_adaptive .description {
    margin-bottom: 50px;
  }

  #how_work .step_number {
    margin-left: 190px;
  }

  #achieved .members,
  #achieved .saved {
    padding: 0 19px;
  }

  #achieved .countries,
  #achieved .missions {
    padding: 0 25px;
  }

  .back {
    margin: 20px 0 20px 230px;
  }
}

@media (max-width: 320px) {
  #home .logo_wrapper {
    width: 170px;
  }

  #home nav.opened .logo_wrapper {
    margin-top: -121px;
    margin-left: -150px;
  }

  #home nav.opened ul li:first-of-type {
    margin-top: -50px;
  }

  #home h1 {
    font-size: 1.5rem;
  }

  #home h3 {
    margin-top: 33px;
    font-size: 1rem;
  }

  #about_us .logo_about {
    width: 80px;
  }

  #our_services h5 {
    margin: 20px 30px 20px;
  }

  #our_services .modal_martime_adaptive h4,
  #our_services .contractors_adaptive h4,
  #our_services .consulting_adaptive h4 {
    padding-top: 0;
    margin-bottom: 13px;
  }

  #our_services .modal_martime_adaptive h4 {
    margin-top: 44px;
  }

  #our_services .modal_martime_adaptive .description {
    font-size: 1.1rem;
  }

  #our_services .modal_martime_adaptive .description,
  #our_services .contractors_adaptive .description,
  #our_services .consulting_adaptive .description {
    margin-bottom: 30px;
  }

  #our_services .close_protection_adaptive {
    font-size: 0.95rem;
  }

  #our_services .close_protection_adaptive h4 {
    padding-top: 11px;
    padding-bottom: 0px;
  }

  #how_work .step_number {
    margin-left: 168px;
  }

  #achieved .members,
  #achieved .saved {
    padding: 0;
  }

  #achieved .countries,
  #achieved .missions {
    padding: 0 15px;
  }

  #totop {
    right: 22px;
  }

  .back {
    margin: 20px 0 20px 188px;
  }
}

@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1) {
  .row {
    margin-right: 0;
  }

  header h3 {
    margin-top: 35vh;
  }

  #about_us .modal_about {
    margin: 70px calc(50% - 45vw);
    overflow-y: scroll;
    overflow-x: hidden;
    animation: fly-in 600ms ease-in;
  }

  #about_us .fa-times {
    right: 35px;
  }

  #our_services .modal_window {
    width: 600px;
    height: fit-content;
    margin: 220px calc(50% - 300px) 0;
    animation: fly-in 0.6s ease-in;
    overflow: hidden;
    border: none;
  }

  #our_services .fa-times {
    right: 35px;
  }

  #how_work .steps {
    width: 100vw;
    justify-content: space-around;
    margin-bottom: 70px;
  }

  #how_work .step-wrapper {
    margin: 15px;
    width: 200px;
    max-width: 220px;
    min-width: 220px;
  }

  #how_work .step {
    max-width: 100%;
    min-width: 100%;
  }

  #partners .partner_logo {
    margin: 40px auto 30px;
  }

  #partners img[alt="partnership"] {
    width: auto;
  }
}